<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Covenantal Biblicist</title>
  <link rel="stylesheet" href="css/style.css">
  <script data-goatcounter="https://covenantbiblicist.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>
<body>
  <div id="header">
    <h1><a href="index.html">Covenantal Biblicist</a></h1>
    <a href="about.html" class="header-about-link">About</a>
  </div>
  <div id="content">
    <h2>What is a Covenantal Biblicist?</h2>

    <h3>Covenantal</h3>
    <p>To be "covenantal" means that one understands the Bible as teaching what is known as "covenant theology". The observation is that God primarily deals with His people through covenants. This view also stresses that there is significant <em>continuity</em> between the Old and New Testaments, unlike competing ideologies such as dispensationalism or New Covenant theology.</p>
    <p>Specifically, the guy who runs this blog holds to the covenant theology as taught in the Second London Baptist Confession of Faith (1689), but he tries not to be too annoying about it.</p>

    <h3>Biblicist</h3>
    <p>The word "biblicist" is often employed as a pejorative term to dismiss people who hold highly to the Reformation principle of <em>Sola Scriptura</em>. It is a term often used by hyperconfessionalists for those people, like myself, who are not fully subscribed to every jot and tittle of the 1689 (or whatever confessional standards under discussion), and refuse to use the 1689 itself or the system it defines as a governing hermeneutic. Though intended as a way to denigrate the opposition, I wear the term as a badge of honor. Our hermeneutics should be derived from Scripture, and Scripture should interpret Scripture. Confessions are excellent and useful tools, but they are not holy writ. They are not to be used to interpret Scripture, rather Scripture is to be used to determine whether a confession is or is not legitimate.</p>

    <h2>Who is the Covenantal Biblicist?</h2>
    <p>The Covenantal Biblicist is Jason Reeves, who serves as a church officer at a church that is in substantial agreement with the Second London Baptist Confession of Faith (1689). He may be reached at covenantalbiblicist@unitedentropy.com.</p>
  </div>
  <div class="build-id" data-build-id="{{ build_id }}" data-build-iso="{{ build_iso }}" data-gc-path="/"><span class="build-id-text">Build ID: {{ build_id }}</span> &middot; <span class="views">Views: --</span></div>
  <script src="js/visitor-count.js"></script>
</body>
</html>
